@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


body{
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
}

.custom-scrollbar-hide {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

.custom-scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}